// 颜色定义规范
$color-background = #0090FF
$color-background-d = rgba(0, 0, 0, 0.3)
$color-content = #FFFFFF
$color-highlight-background = #1A9EF3
$color-dialog-background = #666
$color-title = #070707
$color-theme = #FEFFFF
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-item = #5491BE
$color-text = #00000
$color-text-d = #8C8C8C
$color-text-l = rgba(0, 0, 0, 0.8)
$color-text-ll = rgba(255, 255, 255, 0.8)
$color-login = #3080CC

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
